<h1>About</h1>

<style>
body { background-image: url("https://images.pexels.com/photos/333850/pexels-photo-333850.jpeg?auto=compress&cs=tinysrgb&h=800"); }
</style>

    <p>
        The English word ghost continues Old English gást, from a hypothetical Common Germanic *gaistaz. It is common to West Germanic, but lacking in
        North Germanic and East Germanic (the equivalent word in Gothic is ahma, Old Norse has andi m., önd f.). The pre-Germanic form was *ghoisdo-s,
        apparently from a root denoting "fury, anger" reflected in Old Norse geisa "to rage". The Germanic word is recorded as masculine only, but likely
        continues a neuter s-stem. The original meaning of the Germanic word would thus have been an animating principle of the mind, in particular capable
        of excitation and fury (compare óðr). In Germanic paganism, "Germanic Mercury", and the later Odin, was at the same time the conductor of the dead and
        the "lord of fury" leading the Wild Hunt.
    </p>
    <p>
        Besides denoting the human spirit or soul, both of the living and the deceased, the Old English word is used as a synonym of Latin spiritus also
        in the meaning of "breath" or "blast" from the earliest attestations (9th century). It could also denote any good or evil spirit, such as angels
        and demons; the Anglo-Saxon gospel refers to the demonic possession of Matthew 12:43 as se unclæna gast. Also from the Old English period, the word
        could denote the spirit of God, viz. the "Holy Ghost".
    </p>
    <p>
        The now-prevailing sense of "the soul of a deceased person, spoken of as appearing in a visible form" only emerges in Middle English (14th century).
        The modern noun does, however, retain a wider field of application, extending on one hand to "soul", "spirit", "vital principle", "mind", or "psyche",
        the seat of feeling, thought, and moral judgement; on the other hand used figuratively of any shadowy outline, or fuzzy or unsubstantial image; in optics,
        photography, and cinematography especially, a flare, secondary image, or spurious signal.
    </p>
    <p>
        The synonym spook is a Dutch loanword, akin to Low German spôk (of uncertain etymology); it entered the English language via American English in the
        19th century. Alternative words in modern usage include spectre (altn. specter; from Latin spectrum), the Scottish wraith (of obscure origin),
        phantom (via French ultimately from Greek phantasma, compare fantasy) and apparition. The term shade in classical mythology translates Greek σκιά,or Latin
        umbra, in reference to the notion of spirits in the Greek underworld. "Haint" is a synonym for ghost used in regional English of the southern United States,
        and the "haint tale" is a common feature of southern oral and literary tradition.The term poltergeist is a German word, literally a "noisy ghost", for a spirit
        said to manifest itself by invisibly moving and influencing objects.
    </p>
    <p>
        Wraith is a Scots word for ghost, spectre, or apparition. It appeared in Scottish Romanticist literature, and acquired the more general or figurative
        sense of portent or omen. In 18th- to 19th-century Scottish literature, it also applied to aquatic spirits. The word has no commonly accepted etymology;
        the OED notes "of obscure origin" only. An association with the verb writhe was the etymology favored by J. R. R. Tolkien. Tolkien's use of the
        word in the naming of the creatures known as the Ringwraiths has influenced later usage in fantasy literature. Bogey or bogy/bogie is a term for a ghost,
        and appears in Scottish poet John Mayne's Hallowe'en in 1780.
    </p>
    <p>
        A revenant is a deceased person returning from the dead to haunt the living, either as a disembodied ghost or alternatively as an animated ("undead") corpse.
        Also related is the concept of a fetch, the visible ghost or spirit of a person yet alive.
    </p>
