<h1>Contact</h1>

<img src="http://canyouactually.com/wp-content/uploads/jpg" />

<address>
    THE WAVERLY HILLS SANATORIUM<br />
    4301 East Pages Ln, Louisville, Ky 40272<br />
    <abbr title="Phone">P:</abbr>
    502-933-2142
    <br>
    www.therealwaverlyhills.com

</address>
