@{
    ViewBag.Title = "Home Page";
}




<div class="jumbotron">
    <center><h1>Ghost Stories</h1></center>
    <div class="flex-container">
        <div class="container">
            <div class="ghosts">
                <div class="ghost" id="clyde">
                    <div class="body_ghost">
                        <div class="body_eyes">
                            <div class="eye left_eye">
                                <div class="eye_iris">
                                    <div class="eye_pupil"></div>
                                    <div class="eye_shine"></div>
                                </div>
                            </div>
                            <div class="eye right_eye">
                                <div class="eye_iris">
                                    <div class="eye_pupil"></div>
                                    <div class="eye_shine"></div>
                                </div>
                            </div>
                        </div>
                        <div class="body_tail">
                            <div class="tail"></div>
                            <div class="tail"></div>
                            <div class="tail"></div>
                            <div class="tail"></div>
                        </div>
                    </div>
                    <div class="name_ghost">
                        Clyde
                    </div>
                </div>
                <div class="ghost" id="blinky">
                    <div class="body_ghost">
                        <div class="body_eyes">
                            <div class="eye left_eye">
                                <div class="eye_iris">
                                    <div class="eye_pupil"></div>
                                    <div class="eye_shine"></div>
                                </div>
                            </div>
                            <div class="eye right_eye">
                                <div class="eye_iris">
                                    <div class="eye_pupil"></div>
                                    <div class="eye_shine"></div>
                                </div>
                            </div>
                        </div>
                        <div class="body_tail">
                            <div class="tail"></div>
                            <div class="tail"></div>
                            <div class="tail"></div>
                            <div class="tail"></div>
                        </div>
                    </div>
                    <div class="name_ghost">
                        Blinky
                    </div>
                </div>
                <div class="ghost" id="inky">
                    <div class="body_ghost">
                        <div class="body_eyes">
                            <div class="eye left_eye">
                                <div class="eye_iris">
                                    <div class="eye_pupil"></div>
                                    <div class="eye_shine"></div>
                                </div>
                            </div>
                            <div class="eye right_eye">
                                <div class="eye_iris">
                                    <div class="eye_pupil"></div>
                                    <div class="eye_shine"></div>
                                </div>
                            </div>
                        </div>
                        <div class="body_tail">
                            <div class="tail"></div>
                            <div class="tail"></div>
                            <div class="tail"></div>
                            <div class="tail"></div>
                        </div>
                    </div>
                    <div class="name_ghost">
                        Inky
                    </div>
                </div>
                <div class="ghost" id="pinky">
                    <div class="body_ghost">
                        <div class="body_eyes">
                            <div class="eye left_eye">
                                <div class="eye_iris">
                                    <div class="eye_pupil"></div>
                                    <div class="eye_shine"></div>
                                </div>
                            </div>
                            <div class="eye right_eye">
                                <div class="eye_iris">
                                    <div class="eye_pupil"></div>
                                    <div class="eye_shine"></div>
                                </div>
                            </div>
                        </div>
                        <div class="body_tail">
                            <div class="tail"></div>
                            <div class="tail"></div>
                            <div class="tail"></div>
                            <div class="tail"></div>
                        </div>
                    </div>
                    <div class="name_ghost">
                        Pinky
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

